/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  max-height 100%!important

div[class*="language-html"] pre .code-copy
  right:45px

#app
  height: 100%

html, body 
  height: 100%

.page,.home
  background-color: #fff

.theme-container .home
  padding: 3.6rem 2rem 0;
  max-width: 100%

.features
  padding: 3.6rem 2rem 0;
  max-width: 960px;
  margin: 0px auto;
  display: block;

.navbar,.sidebar,.page,.home, img 
  transition-property: all;
  transition-duration: 0.3s;
body
  transition-property: all;
  transition-duration: 0.3s;


/* 深色模式 */
html.dark {
  .navbar,.sidebar,.page,.home, img {
    transition-property: all;
    transition-duration: 0.3s;
    filter: invert(1) hue-rotate(.5turn);
  }
  img {
    opacity: .75;    
  }
  body{
    transition-property: all;
    transition-duration: 0.3s;
    background-color: #000
  }
}